@model PropMockModels.Product

@{
    ViewData["Title"] = "DisplayESFullDetails";
}

<h1>Details</h1>

<div>
    <h4>Estoppel Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            File #
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Zip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Zip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Parcel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Parcel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Refinance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Refinance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Vacant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Vacant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Commercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Commercial)
        </dd>
        <dt class = "col-sm-2">
            Closing Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.ClosingDate)
        </dd>
        <dt class = "col-sm-2">
            Need By Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.NeedByDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoppel.Rush)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.Rush)
        </dd>
        <dt class = "col-sm-2">
            Additional Comments
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.AdditionalComments)
        </dd>
        <dt class = "col-sm-2">
            Owner Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.OwnerName)
        </dd>
        <dt class = "col-sm-2">
            Buyer Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.BuyerName)
        </dd>
        <dt class = "col-sm-2">
            Address Two
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.AddressTwo)
        </dd>
        <dt class = "col-sm-2">
            Legal Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.LegalDescription)
        </dd>
        <dt class = "col-sm-2">
            Additional Contact Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.AdditionalContactEmail)
        </dd>
        <dt class = "col-sm-2">
            Client File #
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Clientfilenumber)
        </dd>
        <dt class = "col-sm-2">
            Assigned Researcher
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.AssignedResearcher)
        </dd>
        <dt class = "col-sm-2">
            Owner Email
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoppel.OwnerEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.filenumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
